.map
	float left
	width 66.66%
	margin-right 3em
	img
		width 100%
		border img-b
	@media screen and (max-width: 1200px)
		width 100%
		margin 0
		float none
.contact
	margin 20px 0
	position relative
	a
		color blue !important
	&-wrapper
		float right
		@media screen and (max-width: 1200px)
			float none
	.no-mobile
		@media screen and (max-width: 1200px)
			display none
	p
		font-size 16px
		@media screen and (max-width: 1200px)
			text-align center
	svg
		position absolute
		left -3em
		@media screen and (max-width: 1200px)
			display none
.contacts
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-direction column
	.active 
		.accordeon-box_head
			@media screen and (max-width: 768px)
				padding 20px
	.accordeon
		&-box
			padding 20px 45px
			.td
				display -webkit-flex !important
				display -moz-flex !important
				display -ms-flex !important
				display -o-flex !important
				display flex !important
				justify-content center !important
				align-items center !important
			@media screen and (max-width: 768px)
				padding 20px 0
			&.active
				@media screen and (max-width: 768px)
					padding 0
			&_head
				font-size 20px
				color blue
				font-family "GothamProMedium"
				@media screen and (max-width: 768px)
					padding-left 20px
			&--button
				width 60px
				@media screen and (max-width: 768px)
					top calc(100% - 50px)