.font-white
	color #fff !important
.font-black
	color #000 !important
.font-blue
	color blue !important
.font-darkblue
	color darkblue !important
.font-active
	color active !important
.font-bold
	font-weight bold !important
	font-family "RobotoBold" !important
.font-normal
	font-weight normal !important
	font-family "RobotoRegular" !important
.font-xs
	font-size 50%
.font-s
	font-size 80%
.font-l
	font-size 100%
.font-xl
	font-size 120%
.font-xxl
	font-size 150%
.font-italic
	font-style italic
.ttu
	text-transform uppercase !important
.tdu
	text-decoration underline
.ttn
	text-transform none !important
.tac
	text-align center !important
.tal
	text-align left !important
.taj
	text-align justify !important
.tar
	text-align right !important
.full
	width 100% !important
.large
	width 66.66% !important
.small
	width 33.33% !important
.semi
	width 50% !important
.wrap
	flex-wrap wrap !important
.center
	margin 0 auto
.clear
	clear both !important
.fl
	float left !important
.fr
	float right !important
.active
	background active
.none
	display none !important
.opacity
	opacity 0 !important
.static-page
	h1,h2,h3,h4,h5,h6
		font-family "GothamProRegular"
		text-transform uppercase
	h1
		color blue
		font-weight 600
		margin 15px 0
	h2
		color blue
		font-weight 600
		margin 10px 0
	h3
		font-weight 400
		font-size 22px
		margin 5px 0
		font-weight 600
	h4
		font-weight 600
		font-size 20px
		text-transform none
		margin 5px 0
	h5
		font-weight 600
		font-size 18px
		text-transform none
		margin 5px 0
	h6
		font-weight 600
		font-size 16px
		text-transform none
		margin 5px 0
	p
		text-align left
	img
		margin 10px 0
		border img-b
	img.fl
		margin-right 25px
	img.fr
		margin-left 25px
	.float-center
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items top
		+media(768px)
			flex-wrap wrap
		img
			flex-shrink 0
			height 100%
			margin 25px
		p
			+media(768px)
				width 100%