.table
	.tr
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		min-height 15px
		+media(768px)
			&:nth-child(1)
				display none
			&:nth-child(2n)
				background active*1.2
		.td
			padding 10px 5px
			width 20%
			text-align center
			font-size 14px
			font-family "RobotoRegular"
			+media(768px)
				width 50%
				&:nth-last-child(1)
					width 100%		
	&__static
		.tr
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			&.active
				.td
					background active
		.td
			float left
			border 1px solid active*.9
			margin-left -1px
			margin-bottom -1px
			padding 10px 5px
			justify-content flex-start
			&.td__right
				justify-content flex-end
			&.td__center
				justify-content center
			&__x1
				width calc(100%/1)
			&__x2
				width calc(100%/2 + 1px)
			&__x3
				width calc(100%/3 + 1px)
			&__x6
				width calc(100%/6 + 1px)