.public.full
    .public-head
        h1 Публикации в СМИ 
    .public-fill.js_select
      h3 Публикации в СМИ
      h5.mobile Выбрать год
      include paggination-years.jade
      - for (var x = 0; x < 5; x++)
        .public-more--item
          img(src="img/slider/img-2.jpg", alt="sometext").public-more--item--img
          .public-more--item--date 28.07.2016
          .public-more--item_text.clip <div class="head">В облсобрании обсудили возможность реконструкции опасного участка трассы Северодвинск — Архангельск.</div> <br><br> Вопрос реконструкции на трассе Северодвинск — Архангельск обсудили на совещании депутаты областного собрания, Росавтодор, ГИБДД и правительство Архангельской области. Вопрос реконструкции на трассе Северодвинск — Архангельск обсудили на совещании депутаты областного собрания, Росавтодор, ГИБДД и правительство Архангельской области. Вопрос реконструкции на трассе Северодвинск — Архангельск обсудили на совещании депутаты областного собрания, Росавтодор, ГИБДД и правительство Архангельской области. Вопрос реконструкции на трассе Северодвинск — Архангельск обсудили на совещании депутаты областного собрания, Росавтодор, ГИБДД и правительство Архангельской области. Вопрос реконструкции на трассе Северодвинск — Архангельск обсудили на совещании депутаты областного собрания, Росавтодор, ГИБДД и правительство Архангельской области.
          button.btn_more Узнать подробнее
    include paggination.jade
    .btn_more.mobile Посмотреть последние