br
.table.__6
    .tr.active
        .td Заголовок class="active"
        .td Заголовок class="active"
        .td Заголовок class="active"
        .td Заголовок class="active"
        .td Заголовок class="active"
        .td Заголовок class="active"
    .tr
        .td class="table __6"
        .td class="table __6"
        .td class="table __6"
        .td class="table __6"
        .td class="table __6"
        .td class="table __6"
    .tr
        .td class="table __6"
        .td class="table __6"
        .td class="table __6"
        .td class="table __6"
        .td class="table __6"
        .td class="table __6"
br
.table.__5
    .tr.active
        .td Заголовок class="active"
        .td Заголовок class="active"
        .td Заголовок class="active"
        .td Заголовок class="active"
        .td Заголовок class="active"
    .tr
        .td .class="table __5"
        .td .class="table __5"
        .td .class="table __5"
        .td .class="table __5"
        .td .class="table __5"
    .tr
        .td .class="table __5"
        .td .class="table __5"
        .td .class="table __5"
        .td .class="table __5"
        .td .class="table __5"
br
.table.__4
    .tr.active
        .td Заголовок class="active"
        .td Заголовок class="active"
        .td Заголовок class="active"
        .td Заголовок class="active"
    .tr
        .td .class="table __4"
        .td .class="table __4"
        .td .class="table __4"
        .td .class="table __4"
    .tr
        .td .class="table __4"
        .td .class="table __4"
        .td .class="table __4"
        .td .class="table __4"
br
.table.__3
    .tr.active
        .td Заголовок class="active"
        .td Заголовок class="active"
        .td Заголовок class="active"
    .tr
        .td .class="table __3"
        .td .class="table __3"
        .td .class="table __3"
    .tr
        .td .class="table __3"
        .td .class="table __3"
        .td .class="table __3"
br
.table.__2
    .tr.active
        .td Заголовок class="active"
        .td Заголовок class="active"
    .tr
        .td .class="table __2"
        .td .class="table __2"
    .tr
        .td .class="table __2"
        .td .class="table __2"