br
.table__static
    .tr.active
        .td.td__x1 x1
    .clear
    .tr
        .td.td__x2 x2
        .td.td__x3 x3
        .td.td__x6 x6
    .clear
    .tr
        .td.td__x3 x3
        .td.td__x3 x3
        .td.td__x3 x3
    .clear
    .tr
        .td.td__x6 x6
        .td.td__x6 x6
        .td.td__x6 x6
        .td.td__x6 x6
        .td.td__x6 x6
        .td.td__x6 x6
    .clear
    .tr.active
        .td.td__x6 x6
        .td.td__x6 x6
        .td.td__x2 x2
        .td.td__x6 x6
    .tr
        .td.td__x2 x2
        .td.td__x6 x6
        .td.td__x6 x6
        .td.td__x6 x6
    .clear
    .tr
        .td.td__x3 x3
        .td.td__x3 x3
        .td.td__x6 x6
        .td.td__x6 x6