br
.table__static
    .tr.active
        .td.td__center.td__x1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis eos iusto officiis possimus numquam minus dolores, nihil, corporis optio dolorem harum quasi consequuntur veritatis, placeat.
    .clear
    .tr
        .td.td__center.td__x2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, fugit.
        .td.td__center.td__x3 x3
        .td.td__center.td__x6 x6
    .clear
    .tr
        .td.td__center.td__x3 x3
        .td.td__center.td__x3 x3
        .td.td__center.td__x3 x3
    .clear
    .tr
        .td.td__right.td__x6 x6
        .td.td__right.td__x6 x6
        .td.td__right.td__x6 x6
        .td.td__right.td__x6 x6
        .td.td__right.td__x6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, rerum!
        .td.td__right.td__x6 x6
    .clear
    .tr.active
        .td.td__x6 x6
        .td.td__x6 x6
        .td.td__x2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur modi doloremque animi voluptas numquam error cumque optio, totam illo debitis quo aliquid in. Porro, officia?
        .td.td__x6 x6
    .tr
        .td.td__x2 x2
        .td.td__x6 x6
        .td.td__x6 x6
        .td.td__x6 x6
    .clear
    .tr
        .td.td__x3 x3
        .td.td__x3 x3
        .td.td__x6 x6
        .td.td__x6 x6